@import '../appStyles/app-styles.scss';

.waste-item-container {
  height: 160px;
  width: 160px;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .waste-item {
    height: 100px;
    width: 100px;
    border-radius: 50%;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    .waste-item-text {
      margin: auto;
      color: black;

      font-family: $montserrat;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
    }
  }
}
