@import '../appStyles/app-styles.scss';

.bin-item {
  height: 100px;
  width: 100px;

  z-index: 200;

  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.bin-image {
  height: 77px;
  width: 77px;

  border: 1px solid orange;
}

.bin-name {
  height: 23px;
  width: 100%;

  border: 1px solid red;

  text-align: center;
}
