@import '../appStyles/app-styles.scss';

.game-screen {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-image: $gradient-background;

  .game-screen-navbar {
    height: 70px;
    width: 616px;

    border: 1px solid white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .game-screen-button {
      font-size: 1vw;
      padding: 1%;

      border-radius: 10px;

      font-family: $roboto;
      font-weight: 600;
    }
  }

  .game-grid {
    height: 616px;
    width: 616px;

    border: 1px solid white;

    display: grid;
    grid-template-columns: repeat(8, minmax(0, 100px));
    grid-template-rows: repeat(8, minmax(0, 100px));
    align-items: center;
    justify-items: center;

    .bin-circle {
      height: 530px;
      width: 530px;

      z-index: 100;
      grid-row: 1 / 9;
      grid-column: 1 / 9;

      border: 30px solid white;
      border-radius: 50%;
    }

    .bin1-cont {
      grid-row: 1 / 2;
      grid-column: 4 / span 2;
      z-index: 200;
    }
    .bin2-cont {
      grid-row: 2 / 3;
      grid-column: 7 / 8;
      z-index: 200;
    }
    .bin3-cont {
      grid-row: 4 / span 2;
      grid-column: 8/ 9;
      z-index: 200;
    }
    .bin4-cont {
      grid-row: 7 / 8;
      grid-column: 7 / 8;
      z-index: 200;
    }
    .bin5-cont {
      grid-row: 8 / 9;
      grid-column: 4 / span 2;
      z-index: 200;
    }
    .bin6-cont {
      grid-row: 7 / 8;
      grid-column: 2 / 3;
      z-index: 200;
    }
    .bin7-cont {
      grid-row: 4 / span 2;
      grid-column: 1 / 2;
      z-index: 200;
    }
    .bin8-cont {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      z-index: 200;
    }
    .item-to-sort {
      height: 150px;
      width: 150px;
      z-index: 200;

      grid-row: 4 / span 2;
      grid-column: 4 / span 2;
    }
    .score {
      grid-row: 3 / 4;
      grid-column: 4 / span 2;
    }
    .item-sort-counter {
      grid-row: 6 / 7;
      grid-column: 4 / span 2;
    }
  }
}
