@import '../appStyles/app-styles.scss';

.game-screen {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-image: $gradient-background;

  .game-screen-navbar {
    height: 70px;
    width: 616px;

    border: 1px solid white;

    .game-screen-button {
    }
  }

  .game-grid {
    height: 616px;
    width: 616px;

    border: 1px solid white;

    display: grid;
    grid-template-columns: repeat(8, minmax(0, 77px));
    grid-template-rows: repeat(8, minmax(0, 77px));
    align-items: center;
    justify-items: center;

    .bin-circle {
      height: 530px;
      width: 530px;

      z-index: 100;
      grid-row: 1 / 9;
      grid-column: 1 / 9;

      border: 15px solid white;
      border-radius: 50%;
    }

    .grid-item {
      background-color: aliceblue;
      border: 1px solid darkgreen;
      z-index: 200;
    }

    .bin {
      height: 77px;
      width: 77px;
    }

    .bin1 {
      grid-row: 1 / 2;
      grid-column: 4 / span 2;
    }
    .bin2 {
      grid-row: 2 / 3;
      grid-column: 7 / 8;
    }
    .bin3 {
      grid-row: 4 / span 2;
      grid-column: 8/ 9;
    }
    .bin4 {
      grid-row: 7 / 8;
      grid-column: 7 / 8;
    }
    .bin5 {
      grid-row: 8 / 9;
      grid-column: 4 / span 2;
    }
    .bin6 {
      grid-row: 7 / 8;
      grid-column: 2 / 3;
    }
    .bin7 {
      grid-row: 4 / span 2;
      grid-column: 1 / 2;
    }
    .bin8 {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
    .item-to-sort {
      height: 150px;
      width: 150px;

      grid-row: 4 / span 2;
      grid-column: 4 / span 2;
    }
    .score {
      grid-row: 3 / 4;
      grid-column: 4 / span 2;
    }
    .item-sort-counter {
      grid-row: 6 / 7;
      grid-column: 4 / span 2;
    }
  }
}
