//google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

//colours
$gradient-background: linear-gradient(to top, #506032, #687e4e, #819d6c, #9bbd8c, #b5dead);
$celadon: #b5dead;
$olivine: #b0ca87;
$asparagus: #8aa65e;
$moss-green: #809848;
$dark-moss-green: #506032;

//text colours
$light-text: #fbfaf8;

//fonts
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;
